


  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .registration-card {
      background: rgba(243, 234, 234, 0.986);
      padding: 2rem;
  }
  .form-registration input {
      color: black;
      border-radius: 0;
      margin-bottom: 2rem;
  }
  